<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
	<!--meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun"-->
        <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" href="/static/jitech/login.css" th:href="@{/jitech/login.css}">
        <title>Login Page</title>
        <link rel="icon" type="image/jpg" href="https://drive.google.com/uc?id=1obrF9XIQq-BMN3u7S264cPo8nhgtUe6J"/>
    </head>
    <body>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="row main-content bg-success text-center">
                <div class="col-md-4 text-center company__info">
                    <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
                    <h4 class="company_title">
                        <img src="https://drive.google.com/uc?id=1obrF9XIQq-BMN3u7S264cPo8nhgtUe6J" width="100px">
                    </h4>
                </div>
                <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>Log In</h2>
                        </div>
                        <div class="row">
                            <form control="" class="form-group" th:action="@{/account}" method="post">

                                <legend>Identifícate</legend>
                                <div th:if="${param.error}" class="alert alert-error">
                                    Usuario y/o contraseña inválidos.
                                </div>
                                <div th:if="${param.logout}" class="alert alert-success">
                                    Has cerrado sesión.
                                </div>

                                <div class="row">
                                    <input type="email" name="emailId" id="username" class="form__input" placeholder="Email">
                                </div>
                                <div class="row">
                                    <!-- <span class="fa fa-lock"></span> -->
                                    <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                                </div>
                                <div class="row">
                                    <input type="checkbox" name="remember_me" id="remember_me" class="">
                                        <label for="remember_me">Remember Me!</label>
                                </div>
                                <div class="row">
                                    <input type="submit" value="Submit" class="btn">
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <p>No tengo una cuenta<a href="/signup"> Registrate aquí </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="container-fluid text-center footer">
            Coded with &hearts; by <a href="https://bit.ly/yinkaenoch">Yinka.</a></p>
        </div>
    </body>
</html>