<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--link th:rel="stylesheet" th:href="@{../static/bootstrap.css/bootstrap.min.css}"/-->
        <!--link rel="stylesheet" href="/static/css/bootstrap.css"  th:href="@{/css/bootstrap.css}"-->
        <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" href="/static/jitech/register.css" th:href="@{/jitech/register.css}">
        <title>Registro</title>
        <link rel="icon" type="image/jpg" href="https://drive.google.com/uc?id=1obrF9XIQq-BMN3u7S264cPo8nhgtUe6J"/>
    </head>
    <body>
        <div class="container">
            <div id="error-message" class="form hidden">
                <button id="error-close">
                    x
                </button>
                <h2>
                    Please check your details
                </h2>
            </div>
            <form action="#" th:action="@{/create/account}" th:object="${user}" method="post">

                <div class="form">
                    <div class="row">
                        <h1>
                            Input Details
                        </h1>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="first-name" th:field="*{name}">
                        </div>
                        <div class="input-field">
                            <label for="apellidoPaterno">Apellido Paterno:</label>
                            <input type="text" id="apellidoPaterno" name="lastName" th:field="*{lastName}">
                        </div>
                        <div class="input-field">
                            <label for="apellidoMaterno">Apellido Materno:</label>
                            <input type="text" id="apellidoMaterno" name="motherLastName" th:field="*{motherLastName}">
                        </div>
                        <div class="input-field">
                            <label for="dateBirth">Fecha de Nacimiento:</label>
                            <input type="date" id="dateBirth" name="fecha" min="1930-01-01" max="2002-12-31" th:field="*{dateBirth}">
                        </div>
                        <div class="input-field">
                            <label for="gender">Genero:</label>
                            <input type="text" id="gender" name="genero"  th:field="*{gender}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <label for="phoneNumber">Numero de celular</label>
                            <input type="text" id="phoneNumber" placeholder="5522334466" th:field="*{phoneNumber}">
                        </div>
                        <div class="input-field">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="yourusername@email.com" required th:field="*{emailId}">
                            <!--input type="email" id="email" onblur="document.getElementById('username').value=this.value" name="email" placeholder="yourcompany@business.com" required-->
                        </div>
                        <!--input type="hidden" id="username" th:field="*{username}"/-->
                        <div class="input-field">
                            <label for="password">Contraseña</label>
                            <input type="password" id="password" placeholder="Contraseña" th:field="*{password}">
                        </div>
                        <div class="input-field">
                            <label for="confirmPassword">Contraseña</label>
                            <input type="password" id="confirmPassword" placeholder="Confirma contraseña" th:field="*{confirmPassword}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field full">
                            <input type="submit" value="Enviar">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
