<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Registration Success</title>
        <link rel="icon" type="image/jpg" href="https://drive.google.com/uc?id=1obrF9XIQq-BMN3u7S264cPo8nhgtUe6J"/>
    </head>
    <body>
        <center>
            <span th:text="'Se ha enviado un correo electrónico de verificación a: ' + ${email}"></span>
            <a href="/">Inicio</a>
        </center>
    </body>
</html>